:root {
    --qr-height: 2cm;
    --width-ingredients: fit-content;
    --h2-border-width: 0.1em; 
    --default-font-size: 0.8em;
}

html *{
    font-family: 'JetBrains Mono';
}

@media print {
    .noprint {
       visibility: hidden;
    }

    .nav-container {
        display: none;
    }

    body {
        width: 5.8in;
        height: 8.3in;
    }
    
    .div-document {
        margin: 0em;
    }

    .div-logo {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        height: auto;
    }

    @page {
        margin: 1em;
        margin-top: - var(--default-font-size);
    }   
}

* { 
    margin: 0; 
    padding: 0; 
}



body {
    font-size: var(--default-font-size);
}

.h1-titles {
    border-style: solid;
    border-left: 0cm;
    border-right: 0cm;
    border-width: 0.1em;
    width: fit-content;
    font-size: 1.5em;
    font-family: 'JetBrains Mono';
}

.recipe-headings {
    text-transform: uppercase;
    color: orange;
    font-size: 1.25em;
    letter-spacing: 1px;
    padding: 2px;

    border-style: solid;
    border-width: 0.0em; /* The width is set later in recipe.js. Doing it like this fixes the random gap in with in the Cooking heading borders ... */
    border-left: 0cm;
    border-right: 0cm;
    width: fit-content;
    font-family: 'JetBrains Mono';
}

.div-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-logo {
    display: block;
    max-width: 500px;
}