@import url('styles.css');

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.div-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.div-filter {
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: center;
}

.div-recipe-index {
    margin-top: 1em;
    margin-bottom: 1em;
    width: auto;
}

.ul-recipe-index {
    text-align: center;
    list-style: none;
}

.ul-recipe-index a {
    text-decoration: none;
    color: orange;
}





.input-filter {
    text-align: center;
    width: 100%;
}

.hidden {
    display: none; /* Used part of main.js to show only filtered items. */
}

.highlight {
    background-color: orange; /* Used part of main.js to show highlight filter text. */
    color: black;
}