@import url('styles.css');


.div-heading-recipe {
    margin-bottom: 0.5em;
}

.title-ingredients {
    padding: 2px;
}

.title-preparation {
    padding: 2px;
}

.title-cooking {
    padding: 2px;
}


.div-recipe-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-recipe-info-qr {
    height: var(--qr-height);
    padding: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding-left: 0
}

.div-recipe-info-text {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height:  var(--qr-height);
    padding: 0.5em;

}

.div-recipe-info-text-row {
    display: contents;
}

.img-recipe-info-text-symbol {
    margin-right: 0.5em;
    align-self: center;
    height: 1em; 
    background: transparent;
    justify-self: right;
}

/* Start of Recipe */
.div-heading-container {
    display: flex;
    align-items: baseline;
}

.div-ingredients {
    float: left;
    width: var(--width-ingredients);
    padding-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}


ul.text-ingredient-list {
    list-style: none;
    line-height: 1.5em;
}

li.text-ingredient-item {
    
}

li.text-ingredient-item:before {
    content: "";
    font-size: 60%;
    font-weight: bold;
    background-color: white;
    border-color: orange;
    border-width: 2px;
    border-radius: 0.5em;
    border-style: solid;
    vertical-align: middle;
    margin-right: 5px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 4px;
}

li.text-ingredient-heading {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.25em;
}

ul.text-preparation-list {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

li.preparation-step {

}

.text-cooking-list {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-cooking-list li {
    counter-increment: step-counter;
    margin-bottom: 1em;
}

.text-cooking-list li::before {
    content: counter(step-counter);
    font-size: 75%;
    margin-right: 2mm;
    color: orange;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.nav-container {
    display: flex;
    width: 100%;
}

.nav-button {
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    color: rgb(209, 208, 208);
    padding: 0.2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.fixed-left {
    border-left: 0;
    width: 35%; /* Fixed width for left and right buttons */
    margin-right: 0.5em;
}
.fixed-right {
    border-right: 0;
    width: 35%; /* Fixed width for left and right buttons */
    margin-left: 0.5em;
}

.flexible {
    flex-grow: 1; /* Expands to fill the remaining space */
}

