html *{
    font-family: 'JetBrains Mono';
}

@media print {
    .noprint {
       visibility: hidden;
    }

    body {
        width: 5.8in;
        height: 8.3in;
    }

    .div-document {
        margin: 0em;
    }
}

* { 
    margin: 0; 
    padding: 0; 
}

:root {
    --qr-height: 2cm;
    --width-ingredients: fit-content;
}

.div-document {
    margin: 1em;
}

.h1-title {
    border-style: solid;
    border-left: 0cm;
    border-right: 0cm;
    border-width: 0.1em;
    width: fit-content;
    font-size: 2em;
    font-family: 'JetBrains Mono';
}

.h2-title {
    text-transform: uppercase;
    color: orange;
    letter-spacing: 1px;
    border-style: solid;
    border-left: 0cm;
    border-right: 0cm;
    border-width: 0.1em;
    width: fit-content;
    height: fit-content;
    font-family: 'JetBrains Mono';
}

.div-logo {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-logo {
    position: absolute;
    width: 100%; /* Fixed width */
    max-width: 500px;
}