:root {
    --qr-height: 2cm;
    --width-ingredients: fit-content;
}

.h1-titles {
    background-color: rgb(236, 209, 209);
    border-style: dashed;
    border-width: 1px;
}

.recipe-headings {
    margin: 0;
    background-color: rgb(221, 241, 241);
}

.div-recipe-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-recipe-info-qr {
    height: var(--qr-height);
}

.div-recipe-info-text {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-left: 20px; /* Space between the image and the text */
    align-items: center;
    height:  var(--qr-height);
}

.div-recipe-info-text-row {
    margin: 0.1em;
    display: contents;
}

.img-recipe-info-text-symbol {
    margin-right: 10px;
    align-self: center;
    height: 1em; 
    background: transparent;
    justify-self: right;
}

/* Start of Recipe */
.div-heading-container {
    display: flex;
    align-items: baseline;
}

.div-ingredients {
    float: left;
    width: var(--width-ingredients);
    padding-right: 20px;
}

.title-ingredients {
    border-style: dashed;
    border-width: 1px;
}

.title-preparation {
    border-style: dashed;
    border-width: 1px;
}

.title-cooking {
    border-style: dashed;
    border-width: 1px;
    width: fit-content;
}

ul.text-ingredient-list {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

ul.text-preparation-list {
    list-style: none;
}


.text-cooking-list {
    list-style: none;
    padding-left: 0;
}

.text-cooking-list li {
    counter-increment: step-counter;
    margin-bottom: 10px;
}

.text-cooking-list li::before {
    content: counter(step-counter);
    margin-right: 2mm;
}