@import url('styles.css');

.title-recipe {
    text-transform: uppercase;
}

.div-recipe-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-recipe-info-qr {
    height: var(--qr-height);
    padding: 0.5em;
    border-width: 2px;
    border-style: solid;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    padding-left: 0
}

.div-recipe-info-text {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: var(--qr-height);
    padding: 0.5em;
}

.div-recipe-info-text-row {
    display: contents;
}

.img-recipe-info-text-symbol {
    margin-right: 0.5em;
    align-self: center;
    height: 1em;
    background: transparent;
    justify-self: right;
}

/* Start of Recipe */
.div-heading-container {
    display: flex;
    align-items: baseline;
}

.div-ingredients {
    float: left;
    width: var(--width-ingredients);
    margin-top: 1em;
    margin-bottom: 1em;
}

.highlight {
    /* padding: 0px 2px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    /* background-color: rgba(255, 136, 0, 0.308); */
    /* background-color: rgba(212, 212, 212, 0.308); */
    display: inline-block;
    font-weight: bolder;
}

ul.text-ingredient-list {
    list-style: none;
    line-height: 1.5em;
}

li.text-ingredient-item {}

li.text-ingredient-item:before {
    content: "";
    font-size: 60%;
    font-weight: bold;
    background-color: white;
    border-color: orange;
    border-width: 0.35em;
    border-radius: 0.5em;
    border-style: solid;
    vertical-align: middle;
    margin-right: 5px;
    padding-top: 2px;
    padding-right: 8px;
    padding-bottom: 0px;
    padding-left: 4px;
}

li.text-ingredient-heading {
    text-transform: uppercase;
    font-size: 1.25em;
    font-weight: bold;
    padding-top: 0.25em;
}

ul.text-preparation-list {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

li.preparation-step {}

.text-instructions-list {
    list-style: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

.text-instructions-list li {
    counter-increment: step-counter;
    margin-bottom: 0.5em;
}

.text-instructions-list li::before {
    content: counter(step-counter);
    font-size: 75%;
    margin-right: 2mm;
    color: orange;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
}

.div-recipe-logo {
    display: flex;
    position: relative;
    bottom: 0;
    width: 100%;
    height: fit-content;
    align-items: flex-end;
    justify-content: center;
}

@media print {
    .div-recipe-logo {
        position: fixed;
    }

}