:root {
    --qr-height: 2cm;
    --width-ingredients: fit-content;
    --h2-border-width: 0.1em; 
    --default-font-size: 0.75em;
}

* { 
    margin: 0; 
    padding: 0; 
}

html *{
    font-family: 'JetBrains Mono', monospace;
    font-style: normal;
}

@media print {

    .noprint {
       visibility: hidden;
    }
    
    @page {
        margin: 1em;
    }   
}


a:link, a:visited, a:hover, a:active {
   color: black;
   text-decoration: none;
}

body {
    font-size: var(--default-font-size);
    margin: 1em;
}

.h1-titles {
    border-style: solid;
    border-left: 0;
    border-right: 0;
    border-width: 0.2em;
    font-size: 1.5em;
    font-family: 'JetBrains Mono';
}

.recipe-headings {
    text-transform: uppercase;
    color: orange;
    font-size: 1.25em;
    letter-spacing: 1px;
    padding: 2px;
    border-style: solid;
    border-width: 0.0em; /* The width is set later in recipe.js. Doing it like this fixes the random gap in with in the Cooking heading borders ... */
    border-left: 0cm;
    border-right: 0cm;
    width: fit-content;
    font-family: 'JetBrains Mono';
}
